<%- include('../partials/header') %>

<body onload="wiiuSound.playSoundByName('JGL_OLV_INIT_END', 3); wiiuBrowser.lockUserOperation(false);">

    <span class="welcome_text_aquamarine_centered">Welcome to Aquamarine!</span>

    <div class="welcome_text_box" style="width: 940px; height: 560px; margin: 0; left: 0; top: 85px; margin-left: 170px; border: none;">
        <img src="../../../img/welcome/welcome3.png" width="100%">
    </div>

    <a class="welcome_next" href="https://google.com" onclick="wiiuSound.playSoundByName('SE_WAVE_EXIT', 1); wiiuBrowser.closeApplication();"><span class="welcome_back_text" style="margin: 0;">Hooray!</span></a>
</body>

<script src="../../js/jquery-3.7.1-min.js"></script>
<script src="../../js/aquamarine_user_creation.js"></script>
