<%- include('../../partials/header'), { account : account } %>
    <div class="wrapper">
        <header class="header">
            <h1 class="content-title">Aquamarine</h1>
        </header>
        <div class="community-post-list">
            <div class="error_body">
                <div class="no-content-window">
                    <p>
                        <%= locals.language.aqua.portal.error["404"] %>
                    </p>
                </div>
            </div>
        </div>
    </div>