<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Aquamarine-WUP</title>

    <link rel="stylesheet" href="/css/aqua.css"></link>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/olv/complete-emu.js"></script>
    <script type="text/javascript" src="/js/jquery.pjax.js"></script>
    <script type="text/javascript" src="/js/aqua.jquery.js"></script>
</head>

<body>
    <div class="wrapper">
            <a class="exit-setup-modal-button" href="javascript:void(0)" onclick="wiiuSound.playSoundByName('SE_WAVE_EXIT', 3), wiiuBrowser.closeApplication();">Close</a>

            <header class="header" style="width: 100%; padding: 0;">
                <h1 class="content-title">Aquamarine</h1>
            </header>
        
            <div class="error_body">
                <h2 class="error_header">Whoops! We messed up.. | 503</h2>
                <div class="error_content">
                    <div>
                        <div>Something went wrong on our part by mistake. <br><br> <%= err %> <br><br> Report this in #support and please restart Aquamarine.</div>
                        <img src="/img/error/error_503.png">
                    </div>
                </div>
            </div>
    </div>
</body>