
<body>
    <div class="wrapper">
        <div class="wrapper_content">
            <header class="header">
                <h1 class="content-title">Aquamarine</h1>
            </header>
        
            <div class="error_body">
                <div class="no-content-window">
                    <p>404!!!!!!!!!!!!!</p>
                </div>
            </div>
        </div>
    </div>
</body>