<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquamarine-WUP</title>

    <link rel="stylesheet" href="/css/aqua.css">

    <script defer src="../../js/pjax.js"></script>
    <script defer src="../../js/aquamarine.js"></script>
    <!--script defer src="/js/page_management.js"></script-->
</head>

<script defer src="../../../../../js/wiiu-emulation.js"></script>

<body onload="wiiuBrowser.endStartUp(); aquamarine.init();">
    <%- include('../partials/sidebar') %>