<div class="screenshot-viewer-screenshot" style="display: none;">
    <div class="screenshot-img-wrapper">
        <img src="/img/screenshots/308.jpg" height="450px">
    </div>
    
    <button onclick="aquamarine.toggleCaptureModal()" data-sound="SE_WAVE_CANCEL"><span class="symbols">b</span><span>Back</span></button>
</div>