<menu id="menu-bar">
    <li id="menu-bar-mymenu">
        <a data-pjax=".wrapper" href="/users/@me" data-sound="SE_WAVE_MENU">
            <span class="mii-icon">
                <img src="http://mii-images.account.nintendo.net/<%= account[0].mii_hash %>_normal_face.png" onerror="this.src='../../../img/mii_null.png'"/>
            </span>
            <span>User Page</span>
        </a>
    </li>
    <li id="menu-bar-feed">
        <a href="/activity_feed" data-pjax=".wrapper" data-sound="SE_WAVE_MENU">
            <span>Activity Feed</span>
        </a>
    </li>
    <li id="menu-bar-community">
        <a data-pjax=".wrapper" href="/titles/show" data-sound="SE_WAVE_MENU">
            <span>Communities</span>
        </a>
    </li>
    <li id="menu-bar-message">
        <a data-pjax=".wrapper" href="/messages" data-sound="SE_WAVE_MENU">
            <span>Messages</span>
            <span class="badge" style="display: none;">0</span>
        </a>
    </li>
    <li id="menu-bar-news">
        <a data-pjax=".wrapper" href="/notifications" data-sound="SE_WAVE_MENU">
            <span>Notifications</span>
            <span class="badge" <% if (account.unread_notifications.length >= 1) {%> style="display:block" <%}else{%> style="display:none" <%} %>><%= (account.unread_notifications.length > 99) ? "99+" : account.unread_notifications.length %></span>
        </a>
    </li>
    <li id="menu-bar-exit">
        <a href="javascript:void(0)" onclick="aquamarine.exitApplet()" data-sound="SE_WAVE_EXIT">
            <span>Close</span>
        </a>
    </li>
    <li id="menu-bar-back" class="none">
        <a href="javascript:void(0)" onclick="history.back()" role="button" data-sound="SE_WAVE_BACK">
            <span>Back</span>
        </a>
    </li>
    
    </menu>