<div class="sidebar">
    <a class="sidebar_option_wrapper" href="../../titles/show">
        <img width="80px" height="80px" src="http://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png">
        <span>My Menu</span>
    </a>
    <a class="sidebar_option_wrapper" href="../../titles/show">
        <span class="symbols">a</span>
        <span>Activity Feed</span>
    </a>
    <a class="sidebar_option_wrapper" href="../../titles/show">
        <span class="symbols">c</span>
        <span>Communities</span>
    </a>
    <a class="sidebar_option_wrapper" href="../../titles/show">
        <span class="symbols">m</span>
        <span>Messages</span>
    </a>
    <a class="sidebar_option_wrapper" href="../../titles/show">
        <span class="symbols">n</span>
        <span>Notifications</span>
    </a>
    <a class="sidebar_option_wrapper" onclick="wiiuSound.playSoundByName('SE_WAVE_EXIT', 1); wiiuBrowser.closeApplication();" href="https://google.com" style="color: white; background-image: -webkit-radial-gradient(rgb(53, 53, 53), rgb(61, 61, 61));" >
        <span class="symbols" style="position: relative; top: 6px;">x</span>
        <span>Close</span>
    </a>
</div>