<menu id="menu-bar">
    <li id="menu-bar-mymenu">
        <a href="javascript:void(0);" data-sound="SE_WAVE_MENU">
            <span class="mii-icon">
                <img src="http://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png" onerror="this.src='../../../img/mii_null.png'"></img>
            </span>
            <span>My Menu</span>
        </a>
    </li>
    <li id="menu-bar-feed">
        <a href="javascript:void(0);" data-sound="SE_WAVE_MENU">Activity Feed</a>
    </li>
    <li id="menu-bar-community">
        <a href="javascript:void(0);" data-sound="SE_WAVE_MENU" href="javascript:void(0)" onclick="pjax.loadUrl('/titles/show')">Communities</a>
    </li>
    <li id="menu-bar-message">
        <a href="javascript:void(0)" data-sound="SE_WAVE_MENU">Messages<span class="badge" style="display: none;">0</span>
        </a>
    </li>
    <li id="menu-bar-news">
        <a href="javascript:void(0)" data-sound="SE_WAVE_MENU">Notifications<span class="badge" style="display: none;">0</span>
        </a>
    </li>
    <li id="menu-bar-exit">
        <a href="javascript:void(0)" onclick="aquamarine.exitApplet()" data-sound="SE_WAVE_EXIT">Close</a>
    </li>
    <li id="menu-bar-back" class="none">
        <a href="javascript:void(0)" onclick="aquamarine.back()" role="button" data-sound="SE_WAVE_BACK">Back</a>
    </li>
    
    </menu>