<div class="sidebar">
    <a class="sidebar_option_wrapper" href="./show">
        <span>My Menu</span>
    </a>
    <div class="sidebar_option_wrapper">
        <a>My Menu</a>
    </div>
    <div class="sidebar_option_wrapper">
        <a>My Menu</a>
    </div>
    <div class="sidebar_option_wrapper">
        <a>My Menu</a>
    </div>
    <div class="sidebar_option_wrapper">
        <a>My Menu</a>
    </div>
</div>