<div class="sidebar">
    <a class="sidebar_option_wrapper" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/people/@me');">
        <img width="80px" height="80px" src="http://mii-images.account.nintendo.net/<%= account.mii_hash %>_normal_face.png" onerror="this.src='../../../img/mii_null.png'">
        <span>My Menu</span>
    </a>
    <a class="sidebar_option_wrapper" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/activity_feed');">
        <span class="symbols">a</span>
        <span>Activity Feed</span>
    </a>
    <a class="sidebar_option_wrapper" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/titles/show');">
        <span class="symbols">c</span>
        <span>Communities</span>
    </a>
    <a class="sidebar_option_wrapper" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/messages');">
        <span class="symbols">m</span>
        <span>Messages</span>
    </a>
    <a class="sidebar_option_wrapper" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/notifications');">
        <span class="symbols">n</span>
        <span>Notifications</span>
    </a>
    <a id="close" href="javascript:void(0)" class="sidebar_option_wrapper" style="color: white; background-image: -webkit-radial-gradient(rgb(53, 53, 53), rgb(61, 61, 61));" >
        <span class="symbols" style="position: relative; top: 6px;">x</span>
        <span>Close</span>

        <div class="b_button"></div>
    </a>
</div>