<div class="window-page screenshot-viewer-screenshot none">
    <div class="screenshot-img-wrapper">
        <div>
            <img src="data:image/gif;base64,R0lGODlhEAAQAIAAAP%2F%2F%2FwAAACH5BAEAAAAALAAAAAAQABAAAAIOhI%2Bpy%2B0Po5y02ouzPgUAOw%3D%3D">
        </div>

        <a href="javascript:void(0)" class="back-button" onclick="aquamarine.toggleCaptureModal()" data-sound="SE_WAVE_CANCEL">
            <span>Back</span>
        </a>
    </div>
</div>