@font-face {
    font-family: MiiverseSymbols;
    src: url('../MiiverseSymbols-Regular.ttf');
}

.symbols {
    font-family: MiiverseSymbols;
    margin-right: 10px;

    text-shadow: 1px 2px 1px rgba(185, 185, 185, 0.3);

    text-decoration: none;
}

* {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html,
body {
    margin: 0px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAADwBAMAAADMe/ShAAAAHlBMVEX29vb09PTy8vL19fXz8/Px8fHw8PDv7+/u7u739/dHdNvrAAACSElEQVR4AezYNX7DMBiGcafcKTRlC0hdy7T1Z7iAcS5YOkEl38DeQlNOW24YX63fsxr+Ztm2RmvjMiu2bWbOXPmjtW2A7S8YKlfMCK4lKPzeMoJvYhROHYIJno9gggkmmGCCCSaYYIIJJphgggkmGP/PZQZf4XDHCK5JFFYtE7hXkwWYap0awEMPh8NHA7jPNQprv2EAH5zh8MsTDo9vY/xGxuCeLXFYsVMY7nNZwCm/AcM3scZhnTooPBwfafBYP4JwiZvBfgWDh7Xxkc71DmXjY916hOAbLrMxK7ZuTOfKdxC4ZMf6z1Ui2iEh/2Sdssru8L4dy+zXFVGbuVtntyPxK+cqZRc7wr1Ll0v95/qser1DVZv/yVr5bv10Bczq+ML4Rl/als/ww4WfJptbwuACMbgwhaUVfkvgt6LU1icpdkAAAADAEEz/1EKshHOBgMAnwZ7gNgG9DEwybTKpyZiLRCT6ItqUCJuIYqKoosaJlEsMJBki+ZOElwRfkpqSuElcS9Qnd4LcGN3enRUACMRQDFSDJRzg3wIKuNnNzygYA83rGbx9g1cwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBoPB/bFgfx7ZH4TWJ7DB0W9w5hwcdgen7MHxfp8r9IFGkKQEEU6WHWWhVZaWZTFdlg9mwWSdiAZRbJABB+FzkHoHcXuQ82cDBtlkQzVSkc1yZEMk2fRKNjZTzetkg0LlhJK1KjAYDAaDwWAwGAwGg8FgcAD3L/H6J4DLS/j67eEOl9GYoKbAV2YAAAAASUVORK5CYII=');
    background-attachment: fixed;

    color: black;

    width: 1280px;
    height: 720px;
}

.sidebar {
    height: 720px;
    width: 160px;
    background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255), rgb(223, 223, 223));

    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;

    display: inline-block;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

    font-size: 21px;

    z-index: 10;

    position: fixed;
    left: 0;
}

.sidebar .sidebar_option_wrapper {
    display: block;

    width: 160px;
    height: 120px;

    text-align: center;

    cursor: pointer;

    text-decoration: none;

    color: rgb(43, 43, 43);

    letter-spacing: -1px;
}

.sidebar .sidebar_option_wrapper img {
    display: block;
    margin-left: 40px;

    position: relative;
    top: 5px;

    margin-bottom: 10px;

    border-radius: 10px;

    background-color: white;
    border: #d1d1d1 1px solid;
    border-top: #dddddd 3px solid;
}

.sidebar :first-child :first {
    border-top-right-radius: 55px !important;
}

.sidebar :last-child :first {
    border-bottom-right-radius: 55px;
    color: white;

    background-image: -webkit-radial-gradient(gray, white);
}

.sidebar :last-child {
    border-bottom-right-radius: 60px;
}

.sidebar :last-child .symbols {
    background: -webkit-linear-gradient(65deg, rgb(70, 70, 70), #b7b7b7);
    -webkit-background-clip: text;
}

.sidebar .symbols {
    display: block;

    background: -webkit-linear-gradient(rgb(165, 165, 165), rgb(110, 110, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 62px;
    color: white;

    margin: 0;

    text-align: center;

    padding-bottom: 10px;

    text-shadow: 1px 2px 1px rgba(185, 185, 185, 0.3);
}

.back {
    background: -webkit-linear-gradient(rgb(165, 165, 165), rgb(110, 110, 110)); 
    background-clip: text !important;
}

.b_button {
    background: url('../../img/menu.png') 0px -390px;
    background-repeat: no-repeat;

    width: 41px;
    height: 40px;

    border-radius: 0px !important;

    position: relative;
    bottom: 60px;
    left: 100px;

    display: none;
}

.selected {
    background: -webkit-linear-gradient(#EBEBEB, white);
}

.selected span {
    color: rgb(124, 198, 216);
}

.selected .symbols {
    background: -webkit-linear-gradient(rgb(131, 230, 255), rgb(102, 192, 214));
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.3) !important;
    
}

.welcome_text_box {
    width: 850px;
    height: 450px;

    background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));

    border-radius: 30px;
    border: 1px rgb(231, 231, 231) solid;

    box-shadow: 0px 0px 15px 1px #7d7d7d;

    font-size: 30px;

    position: relative;

    left: 215px;
    top: 125px;
}

.welcome_text_aquamarine {
    font-weight: bold;

    text-align: center;

    width: 850px;

    display: inline-block;

    color: rgb(78, 157, 177);

    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 32px;
}

.welcome_text_aquamarine_centered {
    position: absolute;
    z-index: 11;

    font-size: 25px;
    font-weight: bold;

    color: rgb(78, 157, 177);

    display: inline-block;

    width: 500px;

    left: 390px;
    top: 345px;

    text-align: center;
}

.welcome_text_box_text {
    text-align: left;

    margin-left: 35px;

    font-size: 28px;

    display: block;

    width: 800px;
}

.welcome_image {
    text-align: center;

    display: block;

    margin-left: 175px;

    position: relative;

    bottom: 5px;
}

.welcome_next {
    position: fixed;

    bottom: 0;
    right: 0;

    width: 185px;
    height: 65px;

    background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));

    border: 1px rgb(231, 231, 231) solid;
    box-shadow: 0px 0px 15px 1px #7d7d7d;
    border-top-left-radius: 75px;

    font-size: 30px;

    text-align: center;

    padding-top: 25px;
    padding-left: 15px;

    color: black;
    text-decoration: none;
}

.welcome_back {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 185px;
    height: 65px;

    background-image: -webkit-linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));

    border: 1px rgb(165, 165, 165) solid;
    box-shadow: 0px 0px 15px 1px #888888;
    border-top-right-radius: 75px;

    font-size: 30px;

    text-align: center;

    padding-top: 25px;
    padding-right: 15px;

    color: rgb(0, 0, 0);
    text-decoration: none;
}

.welcome_exit {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 185px;
    height: 65px;

    background-image: -webkit-linear-gradient(rgb(92, 92, 92), rgb(34, 34, 34));

    border: 1px rgb(27, 27, 27) solid;
    box-shadow: 0px 0px 15px 1px #888888;
    border-top-right-radius: 75px;

    font-size: 30px;

    text-align: center;

    padding-top: 25px;
    padding-right: 15px;

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.welcome_exit .symbols {
    background: -webkit-radial-gradient(rgb(122, 122, 122), rgb(110, 110, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;

    display: inline-block;
    vertical-align: middle;
}

.welcome_next .symbols {
    background: -webkit-radial-gradient(rgb(91, 173, 194), rgb(81, 161, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;

    display: inline-block;
    vertical-align: middle;
}

.welcome_back .symbols {
    background: -webkit-radial-gradient(rgb(91, 173, 194), rgb(81, 161, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;

    display: inline-block;
    vertical-align: middle;
}

.welcome_back .welcome_back_text {
    display: inline-block;
    vertical-align: middle;
}

.welcome_next .welcome_next_text {
    display: inline-block;
    vertical-align: middle;

    margin-right: 12px;
}

.welcome_exit .welcome_exit_text {
    display: inline-block;
    vertical-align: middle;
}

.welcome_account_form {
    width: 300px;

    margin-left: 276px;
}

.welcome_account_form input[type='text'],
.welcome_account_form input[type='password'] {
    height: 50px;
    width: 300px;

    font-size: 30px;

    margin-bottom: 5px;
}

.welcome_account_form input[type='submit'] {
    width: 100px;
    height: 40px;

    margin-left: 100px;
    margin-top: 20px;

    font-size: 22px;
}

content {
    width: 1280px;
    height: 720px;

    position: absolute;
    top: 0;
    left: 0;
}

content * {
    position: relative;
    left: 160px;
}

.page_name {
    width: 1280px;

    padding-top: 20px;
    padding-bottom: 20px;

    background-image: -webkit-linear-gradient(rgb(107, 216, 243), rgb(77, 166, 185));
    border-bottom: rgb(82, 148, 163) 2px solid;

    box-shadow: 0px 0px 15px 1px #7d7d7d;

    left: 0;
}

.page_name span {
    margin-left: 180px;
    font-size: 28px;

    font-weight: bold;
    color: white;

    left: 0;
}

.new_communities {
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 30px;

    width: 1030px;
    padding: 15px;

    border-radius: 10px;

    background: -webkit-linear-gradient(30deg, rgb(128, 209, 229), rgb(96, 172, 190));
    background-image: -webkit-linear-gradient(30deg, rgba(128, 209, 229, 0.8), rgba(96, 173, 190, 0.178)), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfnCRoSLzWuLN9AAAAA4ElEQVRIx+2Vyw7DIAwEvcD//25PeHvoIdiAUYQqpRUcsx4ck8fgJc0ia6XMFnIG2gtJNtaBfxZGVIwFvNOZjIp9mly6gG1caEJlNDUViglMKgkA0veHkKTU1H5XpdoYSBj3JlUo2m59wZ8dkCesgKjuyMzMAiRMHx40qYVdKRCcVxd2sEhEh/C95d+wuDp8w/Y6H/jAB/4fGHH1N/9hG5aMNdmFxY7hPWhZ79CSr8MYeNCxzqEXPPSg2K2dQ9vbHnjQ7eAcambuPehY59Dk4oXobPwYS8aa5ALe6nzgx8JvdaBrc8TMYTAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjMtMDktMjZUMTg6NDc6MzUrMDA6MDAltN3oAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIzLTA5LTI2VDE4OjQ3OjM1KzAwOjAwVOllVAAAAABJRU5ErkJggg==');

    color: white;

    font-size: 25px;

    text-indent: 10px;
}

.communities_wrapper {
    margin-top: 10px;
    margin-left: 60px;

    width: 1000px;
    height: 200px;
}

.communities_wrapper * {
    left: 0;
}

.community {
    width: 468px;

    height: 95px;

    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;

    display: inline-block;

    border-bottom: dashed rgb(206, 206, 206) 2px;
    margin-bottom: -5px;

    margin-right: 15px;
}

.community a {
    width: 468px;
    display: block;

    color: black;

    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
}

.community img {
    display: inline-block;

    vertical-align: middle;

    border-radius: 10px;

    box-shadow: 0px 0px 5px 1px #b6b6b6;

    background-color:white;
}

.community .community_name {
    display: inline-block;

    vertical-align: middle;

    margin-bottom: 5px;

    font-size: 22px;
    font-weight: bold;

    width: 370px;
}

.community_meta_wrapper {
    display: inline-block;
    width: 350px;

    vertical-align: middle;

    margin-left: 8px;
}

.community_main {
    left: 0;
    display: block;
    width: 120px;

    text-align: center;
    
    padding: 3px;

    border-radius: 5px;

    position: relative;
    margin-bottom: 9px;

    background-color: rgb(107, 216, 243);
    color: white;

    font-size: 15px;

    box-shadow: 0px 0px 5px 1px #b6b6b6;

    text-shadow: rgba(125, 125, 125, 0.5) 0px -1px;
}

.platform_indicator_wrapper {
    display: block;
    color: gray;
}

.platform_indicator_wrapper span {
    display: inline-block;
    border-radius: 50px;
    width: 60px;
    height: 16px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 900;
}

.community_banner {
    left: 0;
    display: block;

    background: -webkit-linear-gradient(rgb(189, 189, 189), white);
}

.community_data_wrapper {
    width: 1120px;
    min-height: 145px;
    height: fit-content;

    background-image: -webkit-linear-gradient(#ffffff, #F1F1F1);
    border-bottom: #9D9D9D 2px solid;

    box-shadow: 0px 0px 5px 1px #b6b6b6;
}

.community_data_wrapper img {
    display: inline-block;

    vertical-align: top;

    position: relative;

    border: white 8px solid;
    border-radius: 12px;

    box-shadow: 0px 0px 5px 1px #b6b6b6;

    left: 50px;
}

.community_data_wrapper .community_name_wrapper {
    display: inline-block;
    vertical-align: top;

    width: 700px;
    height: fit-content;

    left: 58px;
    top: 35px;
}

.community_name {
    display: inline-block;

    width: 500px;

    font-size: 25px;
    font-weight: bold;

    left: 0;
}

.community_description {
    display: inline-block;

    width: 650px;

    font-size: 18px;
    color: #7d7d7d;

    left: 0;

    margin-top: 5px;

    line-height: 25px;
}

.posts_wrapper {
    width: 1120px;
    height: 500px;
}

.posts_wrapper * {
    left: 0;
}

.posts_wrapper > div {
    left: 45px;

    width: 900px;
    height: fit-content;

    margin-top: 10px;
}

.mii_image {
    background: -webkit-linear-gradient(white, rgb(250, 250, 250));

    border-bottom: 2px rgb(202, 202, 202) solid;
    border-radius: 13px;

    box-shadow: 0px 0px 5px 1px #929292;

    display: inline-block;

    left: 0;
}

.post {
    left: 0;
    height: fit-content;

    width: fit-content;
    min-width: 335px;
    max-width: 650px;

    display: inline-block;

    margin-left: 18px;

    vertical-align: top;

    background: -webkit-linear-gradient(white, rgb(252, 252, 252));

    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px #929292;

    padding: 20px;

    z-index: 2;

    cursor: pointer;
}

.post_speech_bubble {
    display:inline-block;
    position: relative;

    width: 20px !important; 
    height: 20px !important;
    left: 33px !important;
    bottom: 34px !important;
    margin-top: 30px !important;

    background-color: #fdfdfd;

    -webkit-transform: rotateZ(-45deg);

    box-shadow: 
    /* Bottom shadow */
    0px 0px 0px black,
    
    /* Left shadow */
    -2px -2px 3px #b9b9b9,
    
    /* Right shadow */
    0px 0px 0px black,
    
    /* No top shadow */
    0px 0px 0px 0px;

    z-index: 3;
}

.post > span {
    display: inline-block;
    width: fit-content;
    max-width: 650px;

    min-height: 40px;
    height: fit-content;

    left: 0 !important;
    vertical-align: top;

    font-size: 26px;

    word-wrap: break-word;

    color: black;
    text-decoration: none;
}

.post img {
    display: inline-block;

    left: 0 !important;
}

.topic_tag::before {
    display: inline-block;

    content: "t";
    margin-right: 5px;

    font-family: MiiverseSymbols;

    text-shadow: 1px 2px 1px rgba(185, 185, 185, 0.3);

    text-decoration: none;
}

.topic_tag {
    display: block !important;

    font-size: 21px !important;

    color: rgb(78, 157, 177) !important;

    height: 32px !important;
    min-height: 0px !important;

    width: fit-content !important;
    min-width: 0px !important;

    margin-top: 2px;

    text-decoration: none;
}

.post_mii_name {
    display: inline-block !important;
    vertical-align: top;
    top: 10px !important;
    left: 140px !important;

    position: relative;

    width: max-content;

    border-radius: 25px;

    background-color: #646464;

    color: white;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;

    font-size: 16px;

    z-index: 9;
}

.post_info_wrapper {
    width: 100% !important;

    margin: 0 !important;

    left: 0 !important;
}

.post_options {
    display: block;

    width: 100%;

    text-align: left;

    left: 0;

    margin-top: 20px;

    z-index: 12;
}

.post_options > div {
    width: 49%;

    display: inline-block;

    height: 50px;

    vertical-align: top;
}

.post_stats {
    height: 0px !important;
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: 23px;

    vertical-align: top !important;

    bottom: 8px;

    text-align: right;
}

.post_yeah_button {
    all: unset;
    width: fit-content;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
 
    background: -webkit-linear-gradient(#FEFEFE, #EEEEEE);

    border-radius: 10px;

    color: #414141;

    font-size: 22px;

    box-shadow: 0px 0px 5px 1px #afafaf;
    border: 1px solid #bebebe;

    z-index: 12;

    position: relative;
}

.post_yeah_button .symbols {
    vertical-align: middle;
    font-size: 26px;
    margin-right: 4px;
    background-color: #2f2f2f;
    color: transparent;
    -webkit-background-clip: text;
}

.post_stats span {
    background-color: #2f2f2f;
    color: transparent;
    -webkit-background-clip: text;

    text-decoration: none;
}

.yeahed_post > span {
    background: -webkit-radial-gradient(rgb(13, 174, 214), rgb(78, 181, 207)) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;

    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px;

    text-decoration: none;
}