<%- include('../../partials/header'), { account : account } %>

    <div id="body" class="wrapper">
        <header class="header">
            <h1 class="content-title">Favorited Communities</h1>
        </header>

        <div class="communities-listing main-page" style="padding-top: 10px;" data-scroll-event data-scroll-container="#community_wrapper" data-scroll-url="/titles/favorites">
            <div class="commnities-new-added" id="community_wrapper">
                <%- include("../../partials/communities.ejs", { communities : communities }) %>
            </div>

            <% if (communities.length < 15) { %>
                <a class="loading" id="loading"></a>
            <% } %>
        </div>
    </div>