<%- include('../../partials/header'), { account : account } %>

    <div id="body" class="wrapper">
        <header class="header">
            <h1 class="content-title"><%= locals.language.aqua.portal.menu.profile.me_favorite_communities %></h1>
        </header>

        <div class="communities-listing subcommunities-page" data-scroll-event data-scroll-container="#community_wrapper" data-scroll-url="/titles/favorites">
            <div class="commnities-new-added" id="community_wrapper">
                <%- include("../../partials/communities.ejs", { communities : communities }) %>
                
                <% if (communities.length == 0) {%>
                    <div class="no-content-window">
                        <p><%= locals.language.aqua.portal.menu.profile.no_favorite_communities %></p>
                    </div>
                <% } %>
            </div>

            <% if (communities.length > 14) { %>
                <a class="loading" id="loading"></a>
            <% } %>
        </div>
    </div>