<%- include('../partials/header'), { account : account } %>

<div class="wrapper">
    <header class="header with-data">
      <a class="add-journal-button" data-sound="SE_WAVE_OK" href="javascript:void(0)">Write Play Journal Entry</a>
        <h1 class="content-title left">Activity Feed</h1>
        <div class="filter-dropdown">
            <a class="dropdown-toggle" data-toggle=".dropdown-menu" href="javascript:void(0)">All</a>
            <ul class="dropdown-menu none">
              <li>
                <a href="javascript:void(0)" class="button checkbox-button selected" data-sound="SE_WAVE_TOGGLE_CHECK">All</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="button checkbox-button" data-sound="SE_WAVE_TOGGLE_CHECK">Friends Only</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="button checkbox-button" data-sound="SE_WAVE_TOGGLE_CHECK">Followers Only</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="button checkbox-button" data-sound="SE_WAVE_TOGGLE_CHECK">Mutuals Only</a>
              </li>
            </ul>
          </div>
    </header>

    <div class="community-post-list">

    </div>

    <%- include("../partials/modal/journal_confirm.ejs") %>
</div>