<%- include('../partials/header'), { account : account } %>

<div class="wrapper">
    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">All Communities</h1>
        </header>

        <div class="communities-listing main-page" style="padding-top: 10px;">
            <div class="commnities-new-added" id="community_wrapper">
                <%- include("../partials/communities.ejs", {
                    communities : communities
                }) %>
            </div>

            <a class="loading" id="loading"></a>
        </div>

        <div id="scrollEvent"></div>
        <script>
            var nmc = false;
            var mkr = false;

            document.addEventListener("scroll_bottom", function() {
                if (nmc == true) {return;}
                if (mkr == true) {return;}

                var loading = document.getElementById("loading")
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/titles/communities?offset="+document.getElementById("community_wrapper").childElementCount);
                xhr.setRequestHeader("x-em", "true")
                xhr.send();
                mkr = true;

                loading.style.display = "block"

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {

                        if (xhr.responseText == " ") {
                            nmc = true;
                            loading.style.display = "none";
                            return;
                        }

                        document.querySelectorAll("li")[document.querySelectorAll("li").length - 1].outerHTML += xhr.responseText;

                        mkr = false;

                        loading.style.display = "none";
                        aquamarine.initSounds();
                    }
                }
            })    
        </script>
    </div>
</div>