<%- include('../partials/header'), { account : account } %>

<div class="wrapper">

    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">Messages</h1>
        </header>

        <div class="message-post-list">
            <ul class="message-list-content">
                
            </ul>
        </div>

    </div>
</div>