<%- include('../partials/header'), { account : account } %>

<div class="wrapper">

    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">Messages</h1>
        </header>

        <div class="message-post-list">
            <ul class="message-list-content">
                <div class="no-content-window">
                    <p>In Messages, you can send messages to friends and view past messages. If you want to play a game with a friend or get some tips if you're stuck, try sending a message!</p>
                  </div>
            </ul>
        </div>

    </div>
</div>