<%- include('../partials/header'), { account : account } %>

<div class="wrapper">

    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">Messages</h1>
        </header>

        <div class="message-post-list">
            <ul class="message-list-content">
                <div class="tutorial-window messages">
                    <p>In Messages, you can send messages to friends and view past messages. If you want to play a game with a friend or get some tips if you're stuck, try sending a message!</p>
                    <a href="javascript:void(0)" data-sound="SE_OLV_OFFBUTTON" class="button tutorial-close-button">Close</a>
                  </div>

                  <div class="no-content-window">
                    <p>There are no messages here yet.</p>
                  </div>
            </ul>
        </div>

    </div>
</div>