<%- include('../partials/header'), {
    account : account
} %>

<body onload="wiiuBrowser.endStartUp(); wiiuSound.playSoundByName('BGM_OLV_MAIN', 3);">
    <%- include('../partials/sidebar') %>
    <content>
        <a href="./show">Reload</a>
        <img src="../../../img/icons/1.jpg">
    </content>
</body>