<% if (!req.get("X-PJAX")) {%>
    <%- include('../partials/header'), {
        account : account
    } %>
<%} %>
        <div class="page_name"><span>Communities</span></div>

        <div class="new_communities">New Communities</div>

        <table class="communities_wrapper">
            <% for (let i = 0; i < newest_communities.length; i++) {
                const community = newest_communities[i];%>

                <td class="community">
                    <a community_id="<%= community.id %>" href="javascript:void(0)" onclick="pjax.loadNewPage('content', '/communities/'+$(this).attr('community_id').toString())">
                        <img width="90px" height="90px" src="../../../img/icons/<%= community.id %>.jpg" onerror="this.src='../../../img/icons/placeholder.jpg'">
                        <div class="community_meta_wrapper">
                            <span class="community_name"><%= community.name %> Community</span>

                            <% switch (community.platform) {
                                case 'wiiu':%>
                                <span class="platform_indicator_wrapper"><span style="background-color: #0099C9;">WiiU</span> Wii U Games</span>
                                    <%break;
                                case '3ds':%>
                                <span class="platform_indicator_wrapper"><span style="background-color: #D3000F;">3DS</span> 3DS Games</span>
                                    <%break;
                                    case 'wii':%>
                                <span class="platform_indicator_wrapper"><span style="background-color: #cacaca;">Wii</span> Wii Games</span>
                                    <%break;
                                    case 'vc':%>
                                <span class="platform_indicator_wrapper"><span style="background-color: #525252;">VC</span> Virtual Console Games</span>
                                    <%break;
                                default:%>
                                <span class="platform_indicator_wrapper"><span style="background-color: #777777;">Topic</span> General Topic</span>
                                <%break;
                            }%>
                        </div>
                    </a>
                </td>

            <% } %>
        </table>