<%- include('../partials/header'), { account : account } %>

<div class="wrapper">
    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">Other Communities for <%= main_community.name %></h1>
        </header>

        <div class="header-banner-container">
            <img src="../../../img/banners-wup/<%= main_community.id %>.jpg" class="banner-image"
                onerror="this.src='../../../img/banners-wup/placeholder-wup.jpg'">
        </div>

        <div class="communities-listing main-page" style="padding-top: 10px;">
            <div class="commnities-new-added" id="community_wrapper">
                <%- include("../partials/communities", {
                    communities : main_community.sub_communities
                }) %>
            </div>
        </div>
    </div>
</div>